<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="none">
      <ion-icon name="lock-closed"></ion-icon>
      <ion-select label="Example">
        <ion-select-option [value]="0">
          Example
        </ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item lines="none">
      <ion-icon name="lock-closed"></ion-icon>
      <ion-label>Example</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="lock-closed"></ion-icon>
      <ion-toggle justify="space-between">
        Example
      </ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>

